@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
font-family: "Righteous";
src: url("../fonts/BalooChettan-Regular.ttf");
src: url("../fonts/BalooChettan-Regular.ttf");
}




* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family:Poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}
p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}
img {
     max-width: 100%;
     height: auto;
}
.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}
.header_section{
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
}
.bg-light {
    background-color: transparent !important;
}
.logo {
    width: 25%;
    float: left;
}
.box_main{
    width: 100%;
    float: left;
    background-color: #000;
    height: auto;
    padding: 30px;
}
.box_main:hover{ background-color: #ffffff; }
.box_main.active{ background-color: #ffffff; }
.broadband_text{
    width: 100%;
    float: left;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    padding-top: 15px;
}

.box_main h4.active{ color: #000 ; }
.box_main:hover h4{ color: #000 ; }
.box_main:hover .many_text{
     color: #000 ;
}
.box_main .many_text.active{
     color: #000 ;
}
.many_text{
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
}
.product_section {
    width: 100%;
    float: left;
    background-image: url(../images/product-bg.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 140px;
}
.easy_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #020000;
    text-align: center;
    background-color: #dad8d7;
    padding: 10px 0;
    font-weight: bold;
}
.internet_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #f7f7f8;
    text-align: center;
    background-color: #716c6b;
    padding: 3px 0;
    text-transform: uppercase;
}
.month_main{
    background-color: #f7f7f7;
    padding: 25px 0px;
}
.dolor_text{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #716c6b;
    text-align: center;
    padding: 3px 0;
    font-weight: bold;
}
.month_text{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #070201;
    text-align: center;
    font-weight: 600;
}
.long_text {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}
.copyright_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #000;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
}









