/*resetar a página*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
/*largura e altura da tela*/    
    width: 80%;
    height: 500px;
    border: 1px solid #333;
/*centralizei*/      
    margin: 0 auto;
/*para as imagens respeitarem a delimitação*/
    position: relative;
/*como o tubo aparecia fora da delimitação quando colocava 100% para a direita*/    
    overflow: hidden;
}

.tubo {
/*como são imagens independentes, não intereferem umas com as outras*/    
    position: absolute;
    bottom: 0;
    width: 80px;
/*animação do tubo e dura 2 seg repetidamente*/
/*como a animação começava rápida e ia abrandando coloquei "linear"*/
    animation: tubo-animation 2s infinite linear;
}

/*caracteristicas do personagem*/
.mario{
    /*tamanho*/
    width: 150px ;
    position: absolute;
    /*mario fica em baixo*/
    bottom: 0;
}

/*o mário só salta quando mandarmos*/
.jump {
    animation: jump 500ms ease-out;
}

/*animação do tubo*/
@keyframes tubo-animation{
/*onde começa a animação*/
   from {
      right: -80px;
   }   

/*onde termina a animação*/
   to {
     right: 100%;
   }
}


/*definição do salto*/
/*como tem 3 etapas fiz diferente da animação do tubo*/
@keyframes jump{
    0% {
        bottom: 0;
    }
    40% {
        bottom: 175px;
    }
    50% {
        bottom: 175px;
    }
    60% {
        bottom: 175px;
    }

    100% {
        bottom: 0;
    }
}
/*no inicio da animaçao está no chão, a meio (ponto mais alto) sobe 175 px e no fim volta para o chão*/
/*coloquei entermediários para ficar um salto mais "suave" e poder ultrapassar o objeto*/