/*tipo de letra Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
/*altura máxima*/    
    height: 100vh;
/*alinhamento ao centro*/
    display: flex;
    align-items: center;
    justify-content: center;
/*em coluna*/
    flex-direction: column;
    gap: 5px;
/*cor de fundo, gradiente*/
    background: linear-gradient(90deg, rgb(130, 127, 134) 0%, rgb(43, 42, 45) 100%);
}

/*titulo branco*/
body h2 {
    color: white;
}

/*quadrado onde estao as perguntas*/
main{
/*cor de fundo*/
    background-color: white;
    padding: 10px;
/*bordas redondas*/
    border-radius: 10px;
    width: 100%;
/*tamanho máximo*/
    max-width: 350px;
/*tamanho minimo de altura*/
    min-height: 250px;
/*alinhado ao centro*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
/*em coluna*/
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}


.spnQtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 7px;
}


button {
/*tamanho*/
    width: 100%;
    text-align: start;
    padding: 5px;
/*sem borda*/
    border: none;
/*borda arredondada*/
    border-radius: 5px;
/*aparece a maozinha*/
    cursor: pointer;
/*cor do botão*/
    background-color: #000000;
/*cor das letras*/
    color: white;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}
/*botão reiniciar*/
.finish button {
    text-align: center;
}